<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= link_to post.user.user_name, profiles_show_path(post.user[:id]) %>

      </div>
      <div class="time-ago">
          <%= time_ago_in_words post.created_at %> ago
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:medium), class: 'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <div class="title">
        <div class="user-name">
          <%= link_to post.user.user_name, profiles_show_path(post.user[:id]) %>

        </div>
        
        <%= post.title %>
      </div>
        <% if post.likes.exists? user_id: current_user.id %>
          <% like = Like.find_by_user_id_and_post_id(current_user.id, post.id) %>
          <%= link_to post_like_path(post, like), method: :delete do %>
            <span class="glyphicon glyphicon-heart delete-like"> </span>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(post), method: :post do %>
            <span class="glyphicon glyphicon-heart-empty"> </span>
          <% end %>
        <% end %>

        <br>
     
      <%= post.likes.count %> likes
              

      <% if post.comments %>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <div class="user-name">
              <%= comment.user.user_name %>
            </div>
            <div class="comment-content">
              <%= comment.content %>
            </div>
            
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(post, comment), method: :delete do %>
                <span class="glyphicon glyphicon-remove delete-comment"> </span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="comment-like-form row">
            <div class="comment-form col-sm-11">
        <%= form_for [post, post.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
